[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
raven = "*"
python-dotenv = "*"
dj-database-url = "*"
social-auth-app-django = "*"
djangorestframework = "*"
drf-extensions = {git = "https://github.com/chibisov/drf-extensions.git"}
djangorestframework-jwt = "*"
django-rest-swagger = "*"
"psycopg2" = "*"
bugsnag = "*"

[dev-packages]
ipdb = "*"
black = "*"
"zest.releaser" = "*"

[requires]
python_version = "3.6"
