[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
django-rest-swagger = "*"
python-social-auth = "*"
rest-social-auth = "*"
drf-extensions = "*"
pip = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
coverage = "*"
django-nose = "*"
django = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
