[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
social-auth-app-django = "*"
djangorestframework = "*"
raven = "*"
python-dotenv = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
drf-extensions = "*"
djangorestframework-jwt = "*"
django-heroku = "*"
python-binary-memcached = "*"
django-bmemcached = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
