@import url(https://fonts.googleapis.com/css?family=Chelsea+Market);

.btn-join {
    background: transparent;
    border: 1px solid #536DFE;;
    margin-top: 20px;
    font-size: 100%;
}

.navbar-brand {
    margin-top: 15px;
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
}

.navbar-header img {
    margin: 12px 0 10px 10px;
}

.app_background {
    background: url(../images/bgpattern.png) repeat center center fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin-top: 20px;
}

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}

.card-container, .front, .back {
    width: 100%;
    height: 320px;
    border-radius: 4px;
}
.card .cover{
    height: 200px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
    position:relative;
}
.card .cover button{
     position:absolute;
     top:20px;
     right: 10px;
     display:block;
     z-index:2;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
    border-radius: 0 0 4px 4px ;
}



.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .items-title{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.back table {
    width: 100%;
    top: auto;
}

.bucketlist-title {
    margin: 10px 5px 0 5px;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    word-wrap: break-word
}

.nav-tabs {
    text-align: center;
    margin-top: -20px;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
}

.scrollable {
    overflow-y: auto;
    padding-top: 70px;
}

.last-thing {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

body {
  padding-bottom: 70px;
}
