{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-xs-6 col-md-6">
                <img alt="Brand" height="45" src="{% static 'images/logo.png' %}">
            </div>
            <div class="dropdown col-xs-6 col-md-6">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle thumbnail profile  pull-right"><img src="{{user.profile.avatar}}"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container scrollable">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="bucketlist in bucketlists">
        <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        {% verbatim %}
                        <button id="{{$index}}" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="{{$index}}">
                            <li class="mdl-menu__item editable editable-click edit-title">Edit</li>
                            <li class="mdl-menu__item">Share</li>
                            <li class="mdl-menu__item">Delete</li>
                        </ul>
                        {% endverbatim %}
                        <img src="{% static 'images/header-image.jpeg' %}" alt="cover-photo"/>
                    </div>
                    <div class="bucketlist-title text-center">
                        {% verbatim %}
                        <span id="title" data-pk="{{ bucketlist.id }}">{{ bucketlist.name }}</span>
                        {% endverbatim %}
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            {% verbatim %}
                            Items <span class="badge">{{ bucketlist.items.length }}</span>
                            {% endverbatim %}
                        </button>
                    </div>
                </div>
                <div class="back">
                    <div class="header">
                        <h5 class="items-title">Bucketlist items</h5>
                    </div>
                    {% verbatim %}
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#incomplete{{$index}}" data-toggle="tab">incomplete</a></li>
                            <li role="presentation"><a href="#complete{{$index}}" data-toggle="tab">complete</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active in" id="incomplete{{$index}}">
                                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                                            <th>Last modified</th>
                                        </tr>
                                    </thead>
                                    <tbody class="scrollable">
                                        <tr ng-repeat="item in bucketlist.items | filter : item.done === true">
                                            <td class="mdl-data-table__cell--non-numeric">{{ item.name }}</td>
                                            <td >{{ item.date_modified | amCalendar }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="complete{{$index}}">
                                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                                            <th>Last modified</th>
                                        </tr>
                                    </thead>
                                    <tbody class="scrollable">
                                        <tr ng-repeat="item in bucketlist.items | filter : item.done !== true">
                                            <td class="mdl-data-table__cell--non-numeric">{{ item.name }}</td>
                                            <td >{{ item.date_modified | amCalendar }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)" data-original-title="Flip Card">
                            <i class="fa fa-share"></i> Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
